.DS_Store
.vs/
*.user
*.csproj.user
*.suo
*.userosscache
*.sln.docstates
*.appxrecipe
*.build.appxrecipe
*.msix
*.msixupload
*.msixbundle
*.appxbundle
*.appxsym
*.pdb
*.cer
*.pfx

bin/
obj/
AppPackages/
BundleArtifacts/
TestResults/

src/*/.vs/
src/*/bin/
src/*/obj/
src/*/AppPackages/
src/*/Package.StoreAssociation.xml
