# 示例
# USERNAME 为你的学号
# PASSWORD 为你的密码
# TYPE 为运营商类型：1=中国移动, 2=中国联通, 3=中国电信, 4=校园网
# INTERVAL 为自动检测间隔，单位为秒，默认为 10 秒

# 将下面改成你自己的配置
USERNAME="YOUR_STUDENT_NUMBER_HERE"
PASSWORD="YOUR_PASSWORD_HERE"
TYPE="YOUR_NETWORK_TYPE_HERE"
INTERVAL="10"
